<?php include "includes/header.php"; ?>    
    <section class="main-slider">
        <div class="slider-item">
            <aside class="slider-caption">
                <h1><span>Order Now</span>
                    and Get the
                    Farm Fresh
                    Feeling
                </h1>
                <div class="btn-block btn-block--lg">
                    <a href="shop.html#shop-now" id="go-to" title="" class="btn btn-default">Shop Now</a>
                    <a href="#" title="" class="btn btn-orange">See Details</a>
                </div>
            </aside>
            <figure>
                <img src="assets/img/main-slider-1.jpg" alt="">
            </figure>
        </div>
    </section>
    <!-- End main slider -->
    <section class="delivery-process">
        <div class="wrapper">
            <h2 class="section-title">Our Delivery Process</h2>
            <aside class="steps">
                <div class="step">
                    <span>1</span>
                    <h3>Choose</h3>
                    <p>Let us know about the
                        items you want</p>
                </div>
                <div class="step">
                    <span>2</span>
                    <h3>Select Option</h3>
                    <p>Are you very busy these days?
                        Then we can provide you sliced
                        vegetables and processed spinach</p>
                </div>
                <div class="step">
                    <span>3</span>
                    <h3>Pick & Pack</h3>
                    <p>Farmers will pick fresh vegetables
                        and pack this for you </p>
                </div>
                <div class="step">
                    <span>4</span>
                    <h3>Open your door</h3>
                    <p>As we provide fast delivery,
                        in a very short time our delivery
                        boy will be at the door of your home.</p>
                </div>
            </aside>
        </div>
    </section>
    <!-- End delivery process -->
    <section class="order-now">
        <div class="wrapper">
            <h2 class="section-title">Order Us What You Desire </h2>
            <aside class="order-blocks">
                <div class="order-block">
                    <figure>
                        <img src="assets/img/broccoli.png" alt="">
                        <figcaption>
                            Vegetables
                        </figcaption>
                    </figure>
                    <div class="more-order">Discover More</div>
                </div>
                <div class="order-block">
                    <figure>
                        <img src="assets/img/orange.png" alt="">
                        <figcaption>
                            fruits
                        </figcaption>
                    </figure>
                    <div class="more-order">Discover More</div>
                </div>
                <div class="order-block">
                    <figure>
                        <img src="assets/img/chopped-vegetables.jpg" alt="">
                        <figcaption>
                            Chopped Vegetables
                        </figcaption>
                    </figure>
                    <div class="more-order">Discover More</div>
                </div>
            </aside>
            <a class="btn btn-lg btn-default" href="shop.html#shop-now" title="more">Show More</a>
        </div>
    </section>
    <!-- End Order -->
    <section class="faq">
        <div class="wrapper">
            <h2>Frequently Asked Questions</h2>
            <div class="faq-inner">
                <div class="accordion" id="accordionExample">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h2 class="mb-0">
                                <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    What is agricultural farming?
                                </button>
                            </h2>
                        </div>
                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                            <div class="card-body">
                                Farming is growing crops or keeping animals. It is a part of agriculture.
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <h2 class="mb-0">
                                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    What are the differences between farming and agriculture?
                                </button>
                            </h2>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                            <div class="card-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingThree">
                            <h2 class="mb-0">
                                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    Which are the vegetables used in keto diet?
                                </button>
                            </h2>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                            <div class="card-body">
                                <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson.</p>
                                <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End FAQ -->
<?php include "includes/footer.php"; ?>