body {
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    color: #2E2E2E;
    height: 100%;
}

/*color scheme*/
/*
#F25C05 - orange
#98D90B - light green
#496722 - dark green
*/


/*Common styles goes here
===================================================*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.ta-center {
    text-align: center;
}
figure {
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
}
ul,li {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
/*typography*/
h1,
h2,
h3 {
    margin: 0;
    padding: 0;
    line-height: normal;
}

h1 {
    font-size: 60px;
    font-weight: 200;
    line-height: 60px;
    /*text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);*/
}
h1 span {
    font-weight: 700;
    color: #2E2E2E;
}
h2 {
    font-size: 40px;
    /*text-transform: uppercase;*/
    font-weight: 400;
}
h2:first-letter {
    /*color: #F25C05;*/
    font-weight: 700;
}
::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #2E2E2E;
    font-weight: 400;
    font-size: 16px
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: #2E2E2E;
    font-weight: 400;
    font-size: 16px
}

:-ms-input-placeholder {
    /* IE 10+ */
    color: #2E2E2E;
    font-weight: 400;
    font-size: 16px
}

:-moz-placeholder {
    /* Firefox 18- */
    color: #2E2E2E;
    font-weight: 400;
    font-size: 16px
}

/*btn*/
.btn {
    text-decoration: none;
    padding: 10px 15px;
    background: #f7f7f7;
    border-radius: 4px;
    color: #2E2E2E;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.5s;
    line-height: normal;
    border: none;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.8;
}

.btn-block {}

.btn-block .btn {
    margin-right: 15px;
}

.btn-block>.btn:last-child {
    margin-right: 0;
}

.btn-block--lg .btn {
    padding: 14px 30px;
    font-size: 20px;
    font-weight: 300;
}

.btn-default {
    background: #8DCB08;
    color: #fff;
}

.btn-orange {
    background: #F25C05;
    color: #fff;
}




/*Header
====================================================*/
.header {
    position: absolute;
    top: 0;
    z-index: 999;
    width: 100%;
} 
.header .wrapper {
    padding: 15px 30px;
}

.top-bar {
    display: flex;    
}
.top-bar .middle {
    width: calc(100% - 184px);
}

.credentials-block>.btn {
    margin-right: 10px;
}

/*search*/
.search {
	position: relative;
}
.search input {
    width: 500px;
    height: 34px;
    padding: 10px 15px 10px 40px;
    border-radius: 6px;
    border: none;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
    margin-right: 30px;
    margin-top: 2px;
    transition: 0.3s;
    font-weight: 500;
    font-size: 16px;
}

.search input:focus {
    outline: none;
    width: 800px;
    box-shadow: 0px 0px 6px rgba(242, 92, 5, 0.9);
}
.search button {
	border: none;
	position: absolute;
	left: 8px;
	background: none;
	width:20px;
	top: 8px;
	cursor: pointer;
}
.search button:focus {
	outline: 1px solid rgba(242, 92, 5, 0.9)
}

.logo {
    display: block;
    margin-top: 7px;
}
.navbar {
	display: flex;
	padding: 0px 30px;
	align-items: center;
	box-shadow:  0px 0px 6px rgba(242, 92, 5, 0.3);
	border-radius: 10px;
	margin-top: 20px;
	background: rgba(255,255,255,0.85);
    transition: 0.5s;
}
.navbar .left {
	width: 300px;
}
.navbar .right {
	width: calc(100% - 300px);
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.main-nav li {
	display: inline-block;
    position: relative;
}
.main-nav li a {
	text-decoration: none;
	padding: 5px 40px;
	font-weight: 600p;
    position: relative;
    z-index: 1;
    transition: 0.3s;
    color: #496722;
    font-weight: 500;
}
.main-nav .active {
    position: relative;
}

.main-nav .active:after, .main-nav li:hover:after {
    content: "";
    position: absolute;
    background: url(../img/carrot.svg) no-repeat;
    width: 115px;
    height: 124px;
    background-size: 80%;
    transform: rotate(-127deg);
    top: -70px;
    left: -5px;
    color: #fff;
}
.main-nav .active a {
    color: #fff;
    font-weight: 600;
}
.main-nav li:hover a {
    color: #fff;
}
.menu-cart {
	cursor: pointer;
}
.menu-cart img {
    width: 68px;
    height: 68px;
}
.is-sticky .navbar {
    background: rgba(255,255,255,0.95);
    margin-top: 0;
    width: calc(100%) !important;
    left: 0px;
    border-radius: 0;
}
.menu-cart {
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
  
.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
.dropdown-content a:hover {
    background-color:#F25C05;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}
  
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}


/*Slider
====================================================*/
.main-slider {
    position: relative;
    height: 100vh;
    top: 0;
    left: 0;
    width: 100%;
}
.slider-item {
    position: relative;
}

.slider-caption {
    position: absolute;
    top: 50%;
    left: 30px;
    width: 355px;
    transform: translateY(-40%);
}

.slider-item figure img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: bottom right;
}

.slider-item h1 {
    border-left: 5px solid #F25C05;
    padding: 0 0 0 20px;
    margin: 0 0 60px 0;
}

/*Delivery process
====================================================*/
.delivery-process {
    padding: 80px 0;
    background: #f5f5f5;
    text-align: center;
    border-bottom: 2px solid #ccc;   
   /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#89d300+0,a1d54f+50,80c217+50,7cbc0a+100 */
background: rgb(137,211,0); /* Old browsers */
background: -moz-linear-gradient(-45deg, rgba(137,211,0,1) 0%, rgba(161,213,79,1) 50%, rgba(128,194,23,1) 50%, rgba(124,188,10,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, rgba(137,211,0,1) 0%,rgba(161,213,79,1) 50%,rgba(128,194,23,1) 50%,rgba(124,188,10,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, rgba(137,211,0,1) 0%,rgba(161,213,79,1) 50%,rgba(128,194,23,1) 50%,rgba(124,188,10,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#89d300', endColorstr='#7cbc0a',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
 
   }
.delivery-process .wrapper {
    max-width: 1140px;
    margin: 0 auto;
}
.steps {
    display: inline-flex;
    margin: 40px 0;
    /**/
    }
.steps > .step {
    padding: 20px 15px;
    width: 25%;
    /*background: #98D90B; */
    color: #fff;
    margin: 0 15px;
    border-radius: 4px;
    box-shadow: 0 0 4px rgba(0,0,0,0.5);
    background: #EAEBEC;
    transition: 0.3s;
}
.steps > .step:nth-child(even) {
     /*background: #8DCB08; */
}
.steps > .step:hover {
    box-shadow:0px 0px 10px rgba(152, 217, 11, 0.8);
}
.steps > .step span {
    font-size: 18px;
    font-weight: 600;
    background: #000;
    line-height: 18px;
    padding: 5px 10px;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 10px auto;
}
.steps > .step h3 {
    font-size: 24px;
    font-weight: 600;
    display: block;
    margin-bottom: 10px;
    line-height: 24px;
    color: #2E2E2E;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
}
.steps > .step h3:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 30%;
    height: 1px;
    border: 1px solid #333;
    transform:translateX(-50%);
    border-radius: 5px;
    /*background: #333;*/
}

.steps > .step p {
    color: #2E2E2E;
    font-weight: 600;   
}

/*Order Now
====================================================*/
.order-now {
    padding: 100px 0;
    background: #f5f5f5;
    text-align: center;
    position: relative;
    z-index: 1;
    border-top: 2px solid #fff;
}

.order-now .wrapper {
    position: relative;
    z-index: 1;
    max-width: 840px;
    margin: 0 auto;
}

.order-now:before {
    content: "";
    position: absolute;
    background: url("../img/leaves.png");
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
}
.order-blocks {
    display: flex;
    margin: 60px 0 40px 0;
}
.order-block {
    width: 33.33%;
    background: #F0F4F8;
    margin: 0 20px;
    box-shadow: 0 0 3px rgba(0,0,0,0.5);
    border-radius: 6px;
    padding: 20px 15px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: 0.3s;
}
.order-block:hover {
    box-shadow: 0 0 6px rgba(0,0,0,0.5);
}
.order-block figure figcaption {
    margin: 10px 0 0 0;
    transition: 0.3s;
}
.order-block:hover figure figcaption {
    opacity: 0;
}
.more-order {
    background: rgba(152,217,11, 0.5);
    font-size: 20px;
    color: #416018;
    font-weight: 500;
    position: absolute;
    bottom: -80px;
    left: 0;
    width: 100%;
    padding: 30px 15px;
    line-height: 20px;
    transition: 0.3s;
}
.order-block:hover .more-order {
    bottom: 0;
}

/*FAQ
====================================================*/
.faq {
    text-align: center;
    padding: 100px 0;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f4f8f9+0,e9efb1+50,c5d899+50,f7fafc+100 */
background: rgb(244,248,249); /* Old browsers */
background: -moz-linear-gradient(-45deg, rgba(244,248,249,1) 0%, rgba(233,239,177,1) 50%, rgba(197,216,153,1) 50%, rgba(247,250,252,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, rgba(244,248,249,1) 0%,rgba(233,239,177,1) 50%,rgba(197,216,153,1) 50%,rgba(247,250,252,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, rgba(244,248,249,1) 0%,rgba(233,239,177,1) 50%,rgba(197,216,153,1) 50%,rgba(247,250,252,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f8f9', endColorstr='#f7fafc',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.faq .wrapper {
    max-width: 810px;
    margin: 0 auto
}
.faq .faq-inner {
    margin: 40px 0 0 0;
}
.faq-inner .btn {
    box-shadow: 0 0;
    padding: 15px;
    background: #fff;
    border: 1px solid #707070;
    font-size: 20px;
    font-weight: 600;
    color: #416018;
    position: relative;
}
.faq-inner .btn:after {
    content: "";
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 15px;
    background: url(../img/arrow.svg) no-repeat;
    transition: 0.3s;
}
.faq-inner .btn.collapsed:after {
    transform: translateY(-50%) rotate(180deg);
}

.faq-inner .btn:hover {
    text-decoration: none;
} 
.faq-inner .btn:focus {
    outline: none;
    text-decoration: none;
}
.card {
    margin: 0 0 15px 0;
    box-shadow: 0 0 3px rgba(0,0,0,0.3)
}
.accordion>.card {
    border: none;
}
.card-header {
    padding: 0;
}
.card-body {
    text-align: left;
}



/*Footer
===================================================*/
.footer .wrapper {
    max-width: 1140px;
    margin: 0 auto;
    color: #fff;
}
.footer__top {
    padding: 50px 0 100px 0;
    background: #2F3724;
}

.footer__bottom {
    padding: 20px 0;
    background: #304403;
}
.footer__block h3 {
    margin: 0 0 22px 0;
    color: #8DCB08;
}
.footer__nav li a {
    color: #E4E4E4;
    font-weight: 600;
}
.disclaimer {
    color: #fff;
    text-align: center;
    margin: 0;
    font-weight: 500;
}

/*Modal*/
.custom-modal {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background: rgba(0,0,0,0.8);
    top:0;
    z-index: 9999;
    opacity:0;
    visibility: hidden;
    transition: 0.5s;
}
/*.custom-modal-open {
    overflow: hidden;
}*/
.modal-open-sign-in .modal-sign-in{
    opacity:1;
    visibility: visible;
}
.modal-open-sign-up .modal-sign-up{
    opacity:1;
    visibility: visible;
}
.modal-view-cart div.custom-modal-wrap {
    max-width:1170px;
    width: 100%;
}
.modal-view-cart .custom-modal-wrap h2 {
    text-align: center;
    background: #8DCB08;
    max-width: 70%;
    margin: 0 auto 30px auto;
    padding: 15px;
    border-radius: 0 0 50px 50px;
    color: #fff;
    font-size: 30px;
}
.modal-view-cart .shop-block {
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    text-align: center;
    padding: 15px;
    margin: 0 0 0px 0;
    position: relative;
}
.modal-view-cart .shop-block:after {
    content: "";
    position: absolute;
    right: 10px;
    top: 10px;
    background: url(../img/icon-trash.svg) no-repeat;
    width: 20px;
    height: 30px;
    cursor: pointer;
    background-size: 100%;
    transition: 0.3s;
}
.modal-view-cart .shop-block:hover:after {
    opacity: 0.5;
}
.modal-view-cart .shop-block .btn {
    margin-top: 15px;
    width: 70%;
    font-weight: 600;
}
.modal-view-cart .shop-block img {
    margin-bottom: 15px;
    max-width: 70%;
}
.modal-open-view-cart .modal-view-cart{
    opacity:1;
    visibility: visible;
}
.modal-open-check-out .modal-check-out{
    opacity:1;
    visibility: visible;
}
.modal-check-out .custom-modal-wrap h2 {
    text-align: center;
    background: #8DCB08;
    max-width: 70%;
    margin: 0 auto 30px auto;
    padding: 15px;
    border-radius: 0 0 50px 50px;
    color: #fff;
    font-size: 30px;
}
.modal-check-out div.custom-modal-wrap {
    max-width:960px;
    width: 100%;
}

.custom-modal .custom-modal-wrap {
    width: 450px;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.6)
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,f1f1f1+50,e1e1e1+50,f6f6f6+100 */
background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(241,241,241,1) 50%, rgba(225,225,225,1) 50%, rgba(246,246,246,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 50%,rgba(246,246,246,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 50%,rgba(246,246,246,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.close-modal {
    display: block;
    width: 36px;
    height: 36px;
    position: absolute;
    right: -20px;
    top: -20px;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    transition: 0.3s;
    background: #fff;
    border:1px solid red;
}
.close-modal:hover {
    background: red;
}
.close-modal span {
    font-size: 42px;
    line-height: 40px;
    display: block;
    color: red;
    position: absolute;
    left: 50%;
    top: 42%;
    transform: translate(-50%, -50%);
}
.close-modal:hover span {
    color: #fff;
}

.close-modal:hover {
    opacity: 0.9;
}
.custom-modal-wrap {
    padding: 30px;
}
.custom-modal h2 {
    text-align: center;
    margin: 0 0 30px 0;
}

/*Our Team
===================================================*/
.our-team {
    text-align: center;
    padding: 100px 15px;
}
.our-team .card {
    display: inline-block;
}
.our-team aside.team-members {
    display: flex;
    justify-content: center;
    margin: 50px auto 0 auto;
}
.our-team aside.team-members > .card {
    width: 25%;
    margin: 15px;
} 

.card-img-top {
    padding-top: 10px;
    width: 300px;
    height: 220px;
}

.card-title {
    text-align: center;
}

/* Choose US
------------------------------------------------- */
.choose-us {
    padding: 100px 15px;
}
.choose-us .wrapper {
    max-width: 1140px;
    margin: 0 auto;
}
.choose-us h2 {
    text-align: center;
    margin-bottom: 60px;
}

.magnifier {
    margin-top: -40px;
    width: 400px;
    height: 400px;
}
/* Planting Seed
------------------------------------------------- */
.planting-seed {
    text-align: center;
    padding: 100px 15px;
}
.planting-seed h2 {
    margin-bottom: 60px;
}
.planting-seed .wrapper {
    max-width: 1140px;
    margin: 0 auto;
}
.planting-seed .row {
    align-items: center;
}
.seed {
    padding-top: 30px;
    opacity: 0.9;
}
.pre-step {
    border: 2px solid #ccc;
    border-radius: 30px;
    padding: 15px;
    font-weight: 600;
    margin-bottom: 40px;
    box-shadow: inset 0 0 10px rgba(0,0,0,0.18);
    font-size: 16px;
}
.planting-tree {
    text-align: center;
    padding: 100px 15px;
    background-color: #E4E4E4;
}
.planting-tree .row {
    align-items: center;
}
.planting-tree h2 {
    margin-bottom: 60px;
}
.planting-tree .wrapper {
    max-width: 1440px;
    margin: 0 auto;
}

/* Shop
------------------------------------------------- */
.shop {
    padding: 100px 0;
    background: #416018;
    text-align: center;
    position: relative;
    z-index: 1;
    border-top: 2px solid #fff;
}

.shop .wrapper {
    position: relative;
    z-index: 1;
    max-width: 1140px;
    margin: 0 auto;
}
.shop h2 {
    color: #fff;
}
.shop-blocks {
    margin: 60px 0 60px 0;
}

.shop-block {
    background: #f5f5f5;
    padding: 25px 15px;
    margin: 0 0 30px 0;
    border-radius: 10px;
    
}
.shop-block img {
    margin-bottom: 15px;
}

.shop-block .btn {
    margin-top: 30px;
    width: 70%;
    font-weight: 600;
}

/* Location
------------------------------------------------- */

.contact-us {
    padding: 80px 15px;
}

.contact-us .wrapper {
    max-width: 1140px;
    margin: 0 auto;
}
.contact-us .items {
    background: #f5f5f5;
    margin: 0 0 10px 0;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.contact-us .icon {
   width: auto;
   height: 50%;
}

.section-title-help {
    margin-bottom: 40px;
}

.map-location {
    padding: 80px 15px;
    background-color: #416018;
}
.map-location .wrapper {
    max-width: 1140px;
    margin: 0 auto;
}
.map-location h2 {
    text-align: center;
    color: #fff;
}
.map {
    margin-top: 40px;
    width: 1440px;
    height: auto;
}
.follow {
    padding: 80px 15px;
    
}
.follow .wrapper {
    max-width: 1140px;
    margin: 0 auto;
    background: url(../img/leaf.png) no-repeat;
}
.follow h2 {
    text-align: center;
    margin-bottom: 60px;
}
.social-media {
    display: flex;
    justify-content: center;
}
.social-media .icon {
    margin-right: 30px;
}

.address {
    border: 2px solid #8DCB08;
    border-radius: 10px;
    margin:10px 10px;
    padding: 5px;
}
.address .form-group {
    margin-bottom: 5px;
}
.cost {
    border: 2px solid#496722;
    text-align: center;
    max-width: 400px;
    border-radius: 10px;
    padding-left: 20px;
    padding-top: 10px;
    margin: 20px auto 0 auto;
}
.modal-check-out .btn {
    margin: 20px auto 0 400px;
}
.modal-view-cart .cost {
    padding-top: 40px;
}

.modal-view-cart h3, .modal-open-check-out h3 {
    color: #496722;
}
  .value-button {
    display: inline-block;
    border: 1px solid #ddd;
    margin: 0px;
    width: 40px;
    text-align: center;
    vertical-align: middle;
    padding: 6px 0;
    background: #eee;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  input#number {
   padding: 5px 0 7px 0;
}
  .value-button:hover {
    cursor: pointer;
  }
  
  form #decrease {
    margin-right: -4px;
    border-radius: 8px 0 0 8px;
  }
  
  form #increase {
    margin-left: -4px;
    border-radius: 0 8px 8px 0;
  }
  
  form #input-wrap {
    margin: 0px;
    padding: 0px;
  }
  
  input#number {
    text-align: center;
    border: none;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin: 0px;
    width: 40px;
  }
  .value-button {
      font-size: 24px;
      line-height: 24px;
  }
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
  }
  .shop-block form {
    margin: 10px 0 0 0;
}
.modal-open-view-cart,
.modal-open-check-out {
    overflow: hidden;
}
.modal-open-view-cart .modal-view-cart,
.modal-open-check-out .modal-check-out {
    overflow-x: hidden;
    overflow-y: auto;
}
.custom-modal-wrap {
    margin-bottom: 50px;
}
  @media all and (max-width:1440px) {
    .navbar .left {
        width: 250px;
    }
    .main-nav li a {
        padding: 5px 30px;
    }
    .navbar .right {
        width: calc(100% - 250px);
    }
    .main-nav .active:after, .main-nav li:hover:after {
        left: -16px;
    }

  }